RewriteEngine on

AuthName "Page d'administration protégée"
AuthType Basic
AuthUserFile "A:/UwAmp/www/WebCup/.htpasswd"
Require valid-user

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
