.gg-illustration{
	width: 48%;
	position: absolute;
	left: 615px;
	top: 166px;
	z-index: 1000;
}
.gg-card-war{
	z-index: 1000;
	height: 500px;
	transform: translate(220%,-90%) perspective(800px) rotateX(10deg) scale(0.9,0.9);
	width: 400px;
	background: url(../../images/head.png) no-repeat 100%;
	background-position: bottom;
}
.gg-card-prehistoire{
	z-index: 1000;
	height: 500px;
	transform: translate(20%,-90%) perspective(800px) rotateX(10deg) scale(0.9,0.9);
	width: 400px;
	background: url(../../images/head2.png) no-repeat 100%;
	background-position: bottom;
}
.gg-card-madagascar{
	z-index: 1000;
	height: 500px;
	transform: translate(220%,-90%) perspective(800px) rotateX(10deg) scale(0.9,0.9);
	width: 400px;
	background: url(../../images/head.png) no-repeat 100%;
	background-position: bottom;
}
.gg-service-image{
	transform: skew(1deg) rotate(1deg);
	padding-top: 180px;
}
.gg-service-image2{
	transform: skew(-1deg) rotate(-1deg);
	padding-top: 180px;
}
.gg-head{
	padding-top: 265px;
	margin-top: 73px;
}